/* Load Clicky Bricks font for webpage title */

@font-face {
    font-family: 'clicky_bricks_2regular';
    src: url('fonts/clicky_bricks/clickybricks2regular-nrgd4-webfont.woff2') format('woff2'),
         url('fonts/clicky_bricks/clickybricks2regular-nrgd4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'work_sansregular';
    src: url('fonts/work_sans/worksans-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/work_sans/worksans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* set font using universal selector */

* {
    font-family: work_sansregular;
}

/* Set the background for the page */
body {
    background-image: url(lego_bricks.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
}

/* Style the header and footer to look nice in front of the background */
header, footer, main {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10pt;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: 2vi;
    margin-right: 2vi;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    display: inline-block;
}

header {
    padding-bottom: 0.5cm;
    padding-top: 0cm;
    background-color: rgba(246, 210, 71, 0.9);
    position: sticky;
    top: -5cm;
}

footer {
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
    background-color: hsla(48, 91%, 62%, 0.9);
}

main {
    background-color: whitesmoke;
}

/* make logo brick look nice */

#logo {
    width: 5cm;
    height: 5cm;
}

/* make search bar and search button look nice */

.search {
    background-color: #f6d346;
    border: 2pt solid black;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
}

.search:hover {
    background-color: #f9c906;
}

[darken=True]:active {
    background-color: #9c7c00;
}

input.search:focus {
    background-color: antiquewhite;
    outline: none;
}

header input {
    border-bottom-left-radius: 10pt;
    border-top-left-radius: 10pt;
}

input + button {
    border-bottom-right-radius: 10pt;
    border-top-right-radius: 10pt;
}

/* style H1 in main body so it is centered with wavy underline and blue */
main > h1 {
    color: rgb(72, 156, 234);
    text-align: center;
    text-decoration: wavy underline;
}