/* Load Clicky Bricks font for webpage title */

@font-face {
    font-family: 'clicky_bricks_2regular';
    src: url('fonts/clicky_bricks/clickybricks2regular-nrgd4-webfont.woff2') format('woff2'),
         url('fonts/clicky_bricks/clickybricks2regular-nrgd4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'work_sansregular';
    src: url('fonts/work_sans/worksans-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/work_sans/worksans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* set font using universal selector */

* {
    font-family: work_sansregular;
}

/* Set the background for the page */
body {
    background-image: url(lego_bricks.jpg);
    background-size: contain;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
}

/* Style the header and footer to look nice in front of the background */
header, footer, main {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10pt;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: 2vi;
    margin-right: 2vi;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    display: inline-block;
}

header {
    padding-bottom: 0.5cm;
    padding-top: 0cm;
    background-color: rgba(246, 210, 71, 0.9);
    position: static;
    text-align: center;
}

#header-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#search-field {
    display: inline;
}

@media (max-width: 1000px) {
    body {
        grid-template-columns: 0fr 1fr 0fr;
    }
}

footer {
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
    background-color: hsla(48, 91%, 62%, 0.9);
}

main {
    background-color: hsl(0, 0%, 96%);
}

/* Styles the to-top button that only appears on mobile */

#to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: rgba(246, 210, 71, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 2pt;
    padding: 10px;
    border-radius: 10pt;
    font-size: 30pt;
}

/* on mobile devices, hide the header so that it does not get in the way on the small screen, and show the to-top button */

@media (min-width: 1000px) {
    header {
        position: sticky;
        top: -5cm;
    }
    #to-top {
        display: none;
    }
}

/* make logo bricks look nice */

#logo {
    width: 5cm;
    height: 5cm;
    margin-right: 10pt;
    margin-left: 10pt;
}

#logo2 {
    height: 3cm;
    margin-right: 5pt;
    margin-left: 5pt;
}

/* make search bar and search button look nice */

.search {
    background-color: #f6d346;
    border: 2pt solid #000;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
}

.search:hover {
    background-color: #f9c906;
}

[darken=True]:active {
    background-color: #ccb777;
}

input.search:focus {
    background-color: antiquewhite;
    outline: none;
}

header input {
    border-bottom-left-radius: 10pt;
    border-top-left-radius: 10pt;
}

input + button {
    border-bottom-right-radius: 10pt;
    border-top-right-radius: 10pt;
}

/* style H1 in main body so it is centered with wavy underline and blue */
main > h1 {
    color: rgb(72, 156, 234);
    text-align: center;
    text-decoration: wavy underline;
}

/* Style table of contents in main page*/

h2 ~ details {
    border-style: solid;
    border-width: 2pt;
    padding: 5pt;
    margin: auto;
    display: inline-block;
}